In [3]:
import pandas as pd
import numpy as np

In [6]:
def q1():
    print("Question 1")
    data = [1, 2, 3, 4, 5]  
    ex1 = pd.Series(data) 
    n1 = np.array(ex1)
    print(n1)

In [7]:
q1()

Question 1
[1 2 3 4 5]

In [10]:
def q2():
    print("Question 2")
    p1 = pd.Series([6,52,98,46])
    l1 = [p1]
    print(l1)

In [11]:
q2()

Question 2
[0     6
1    52
2    98
3    46
dtype: int64]

In [24]:
def q3():
    print("Question 3")
    l1 = [2, 4, 6, 8, 10]
    l2 = [1, 3, 5, 7, 9]
    p1 = pd.Series(l1)
    print(f"Pandas Series1 {p1}")
    p2 = pd.Series(l2)
    print(f"Pandas Series1 {p2}")
    print(f"Addition of Series 1 and 2 ")
    print(p1 + p2)
    print(f"Subtraction of Series 1 and 2 ")
    print(p1 - p2)
    print(f"Multiplication of Series 1 and 2 ")
    print(p1 * p2)
    print(f"Division of Series 1 and 2 ")
    print(p1 // p2)

In [25]:
q3()

Question 3
Pandas Series1 0     2
1     4
2     6
3     8
4    10
dtype: int64
Pandas Series1 0    1
1    3
2    5
3    7
4    9
dtype: int64
Addition of Series 1 and 2
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction of Series 1 and 2
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication of Series 1 and 2
0     2
1    12
2    30
3    56
4    90
dtype: int64
Division of Series 1 and 2
0    2
1    1
2    1
3    1
4    1
dtype: int64

In [29]:
def q4():
    print("Question 4")
    d1 = {"Name":"Shubham","Age" : "22","City":"Pune"}
    p1 = pd.Series(d1)
    print("Dictionary to Pandas Series")
    print(f"Dictionay {d1}")
    print("Series")
    print(p1)

In [30]:
q4()

Question 4
Dictionary to Pandas Series
Dictionay {'Name': 'Vilas', 'Age': '36', 'City': 'Mirzapur'}
Series
Name       Vilas
Age           36
City    Mirzapur
dtype: object

In [31]:
def q5():
    print("Question 5")
    d1 = [50,60,40,70] 
    n1 = np.array(d1)
    p1 = pd.Series(n1)
    print("Numpy array to Pandas Series")
    print(f"Numpy Array {n1}")
    print("Series")
    print(p1)

In [32]:
q5()

Question 5
Numpy array to Pandas Series
Numpy Array [50 60 40 70]
Series
0    50
1    60
2    40
3    70
dtype: int64

In [41]:
def q6():
    print("Question 6")
    p1 = pd.Series(['100', '200', '300.12', '400'])
    print(p1)
    print("After changing datatype of series")
    p2 = pd.to_numeric(p1)
    print(p2)

In [42]:
q6()

Question 6
0       100
1       200
2    300.12
3       400
dtype: object
After changing datatype of series
0    100.00
1    200.00
2    300.12
3    400.00
dtype: float64

In [43]:
def q7():
    print("Question 7")
    d1 = [50,60,40,70] 
    p1 = pd.Series(d1)
    print("Pandas Series to numpy array")
    print("Series")
    print(p1)
    n1 = np.array(p1)
    print(f"Numpy Array {n1}")

In [44]:
q7()

Question 7
Pandas Series to numpy array
Series
0    50
1    60
2    40
3    70
dtype: int64
Numpy Array [50 60 40 70]

In [53]:
def q8():
    print("Question 8")
    print("Dictonary to Pandas Dataframe")
    print("Dictionary")
    d1 = {"Name":"Vilas","Age" : "36","City":"Mirzapur"}
    print(d1)
    d2 = {"Name":"Ashok","Age" : "38","City":"Junagarh"}
    print(d2)
    d3 = {"Name":"Kishor","Age" : "40","City":"Dharavi"}
    print(d3)
    p1 = pd.DataFrame([d1,d2,d3])
    print("DataFrame of this Dictionary's")
    print(p1)

In [54]:
q8()

Question 8
Dictonary to Pandas Dataframe
Dictionary
{'Name': 'Vilas', 'Age': '36', 'City': 'Mirzapur'}
{'Name': 'Ashok', 'Age': '38', 'City': 'Junagarh'}
{'Name': 'Kishor', 'Age': '40', 'City': 'Dharavi'}
DataFrame of this Dictionary's
     Name Age      City
0   Vilas  36  Mirzapur
1   Ashok  38  Junagarh
2  Kishor  40   Dharavi

In [102]:
def q9():
    print("Question 8")
    empids = [101,102,103,104,105,106,107,108,109,110]
    names = ['Ravi','Kishan','Manohar','Kishor','Munna','Raju','Shashi','Birju','Teja','Ashok',]
    s1 = pd.Series(empids)
    s2 = pd.Series(names,index = empids)
    print(f"Data type of series 1 {type(s1)}")
    print(f"Data type of series 2 {type(s2)}")
    df1 = pd.DataFrame(s2)
    print(df1)
    df1.to_csv('MyRecords.csv')
    df2 = pd.read_csv('./MyRecords.csv')
    print("First 5 records")
    p = df2.head()
    print(p)
    print("Last 5 records")
    p = df2.tail()
    print(p)
    print("First 2 And Last 2 records")
    p = df2.head(2)
    print(p)
    p = df2.tail(2)
    print(p)
    print(f"Name of 5th employee ")
    print(df1.iloc[4])
    print(f"Name of 4th employee ")
    print(df1.iloc[3])

In [103]:
q9()

Question 8
Data type of series 1 <class 'pandas.core.series.Series'>
Data type of series 2 <class 'pandas.core.series.Series'>
           0
101     Ravi
102   Kishan
103  Manohar
104   Kishor
105    Munna
106     Raju
107   Shashi
108    Birju
109     Teja
110    Ashok
First 5 records
   Unnamed: 0        0
0         101     Ravi
1         102   Kishan
2         103  Manohar
3         104   Kishor
4         105    Munna
Last 5 records
   Unnamed: 0       0
5         106    Raju
6         107  Shashi
7         108   Birju
8         109    Teja
9         110   Ashok
First 2 And Last 2 records
   Unnamed: 0       0
0         101    Ravi
1         102  Kishan
   Unnamed: 0      0
8         109   Teja
9         110  Ashok
Name of 5th employee
0    Munna
Name: 105, dtype: object
Name of 4th employee
0    Kishor
Name: 104, dtype: object

In [ ]:
def q10():